:root{
    --fundo: #FFFFE0;
    --cor-frente: #F5DEB3;
    --cor-verso: #6495ED;
    --destaque: #F0F8FF;
    --preto: #000000;
    --branco: #ffffff
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--cor-verso);
    color: var(--branco);
    width: 100%;
    text-align: center;
}