:root{
    --fundo: #FFFFE0;
    --cor-frente: #F5DEB3;
    --cor-verso: #6495ED;
    --destaque: #F0F8FF;
    --preto: #000000;
    --branco: #ffffff
}

body{
    background-color: var(--fundo);
}

footer{
    position: absolute;
    bottom: 0;
    background-color: #6495ED;
}