:root{
    --fundo: #FFFFE0;
    --cor-frente: #F5DEB3;
    --cor-verso: #6495ED;
    --destaque: #F0F8FF;
    --preto: #000000;
    --branco: #ffffff
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--cor-verso);
    color: var(--branco);
    width: 100%;
    text-align: center;
}


#container{
    padding: 2rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    margin: 1rem;
}